<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>TuTune - Starting</title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        body {
            transition: background-image 1s ease;
            background-size: auto;
            -webkit-user-select: none;
            text-align: center;
            top: 50%; left: 50%;
            cursor: wait;
        }
        #main {
            background: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
            background-attachment: fixed;
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
        a{
            color: white;
        }
    </style>
</head>
<body><div id="bar">
        <% include frame.ejs %>
    </div>
    <div id="main">
        <img class="biglogo" src="assets/images/SealCircle.png" style="top: 50%; left: 50%; width: 300px; margin-top: 100px;"/>
    </div>
    
    
</body>
<script>
    function skip() {
        window.location.replace("app.ejs");
    };
    setTimeout(skip, 3000);
</script>
</html>