<style>
    #radimg{
        background-color: white;
    }
</style>
<h1 style="text-align: center;">TuTune</h1>
<h2 style="text-align: center;">Choisisez une station à écouter</h2>
<div style="align-items: center;top: 50%; left: 50%; margin-left: 30px;">
<table>
    <td>
        <a style="padding-left: 15px;" href="fun.ejs"><img id="radimg" src="./assets/images/radios/fun.png" width="150px" style="padding: 5px; top: 50%; left: 50%; align-content: center;" draggable="false" /></a>
    </td>
    <td>
        <a style="padding-left: 15px;" href="nrj.ejs"><img id="radimg" src="./assets/images/radios/nrj.png" width="150px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
    </td>
    <td>
        <a style="padding-left: 15px;" href="nostalgie.ejs"><img id="radimg" src="./assets/images/radios/nostalgie.png" width="150px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
    </td>
    <td>
        <a style="padding-left: 15px;" href="skyrock.ejs"><img id="radimg" src="./assets/images/radios/skyrock.png" width="150px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
    </td>
    <td>
        <a style="padding-left: 15px;" href="rtl.ejs"><img id="radimg" src="./assets/images/radios/rtl.png" width="150px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
    </td>
</table>
<table>
    <td>
        <a style="padding-left: 15px;" href="mradio.ejs"><img id="radimg" src="./assets/images/radios/mradio.png" width="150px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
    </td>
    <td>
        <a style="padding-left: 15px;" href="rfm.ejs"><img id="radimg" src="./assets/images/radios/rfm.png" width="150px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
    </td>
    <td>
        <a style="padding-left: 15px;" href="virgin.ejs"><img id="radimg" src="./assets/images/radios/virgin.png" width="150px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
    </td>
    <td>
        <a style="padding-left: 15px;" href="rtl2.ejs"><img id="radimg" src="./assets/images/radios/rtl2.png" width="150px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
    </td>
    <td>
        <a style="padding-left: 15px;" href="ouifm.ejs"><img id="radimg" src="./assets/images/radios/ouifm.png" width="150px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
    </td>
</table>
</div>