<style>
    #menu{
        margin-top: 5px;
        box-shadow: 1px 5px 3px #252525d9;
        background-color: grey;
        padding: 5px;
    }
    #radimg{
        background-color: white;
    }
</style>
<div id="menu">
        <a style="padding-left: 5px;" href="fun.ejs"><img id="radimg" src="./assets/images/radios/fun.png" width="50px" style="padding: 5px; top: 50%; left: 50%; align-content: center;" draggable="false" /></a>
        <a style="padding-left: 5px;" href="nrj.ejs"><img id="radimg" src="./assets/images/radios/nrj.png" width="50px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
        <a style="padding-left: 5px;" href="nostalgie.ejs"><img id="radimg" src="./assets/images/radios/nostalgie.png" width="50px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
        <a style="padding-left: 5px;" href="skyrock.ejs"><img id="radimg" src="./assets/images/radios/skyrock.png" width="50px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
        <a style="padding-left: 5px;" href="rtl.ejs"><img id="radimg" src="./assets/images/radios/rtl.png" width="50px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
        <a style="padding-left: 5px;" href="mradio.ejs"><img id="radimg" src="./assets/images/radios/mradio.png" width="50px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
        <a style="padding-left: 5px;" href="ouifm.ejs"><img id="radimg" src="./assets/images/radios/ouifm.png" width="50px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
        <a style="padding-left: 5px;" href="virgin.ejs"><img id="radimg" src="./assets/images/radios/virgin.png" width="50px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
        <a style="padding-left: 5px;" href="rfm.ejs"><img id="radimg" src="./assets/images/radios/rfm.png" width="50px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
        <a style="padding-left: 5px;" href="rtl2.ejs"><img id="radimg" src="./assets/images/radios/rtl2.png" width="50px" style="padding: 5px; top: 50%; left: 50%;" draggable="false" /></a>
</div>