<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>TuTune - RTL2</title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        body {
            transition: background-image 1s ease;
            background-size: auto;
            -webkit-user-select: none;
            text-align: center;
            top: 50%; left: 50%;
        }
        #main {
            background: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
            background-attachment: fixed;
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
        audio{
        display: none;
        }
        a{
            color: white;
        }
    </style>
    <script>
        if(navigator.onLine)
          {
            var status = "online"
          }
          else
          {
            alert('TuTune ne détecte aucune connexion internet, les flux radio risquent de ne pas se lire correctement.')
          }
    </script>
</head>
<body>
    <div id="bar">
<% include frame.ejs %><% include menu.ejs %></div>
<div id="main"><br>
    <h1>Lecture en cours</h1>
    <img style="padding: 15px;" draggable="false" width="200px" src="./assets/images/radios/rtl2.png" /><br><br>
    <a href="app.ejs"><h3>Stop</h3></a></div>
<audio autoplay src="http://streaming.radio.rtl2.fr/rtl2-1-44-128" />
</body>